[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "extern/that_style"]
	path = extern/that_style
	url = https://github.com/jl-wynen/that_style.git
	ignore = dirty
[submodule "bar1"]
	branch = master
